<mat-card *ngIf="!card" class="cn-matcard">
    <input placeholder="Take a note..." class="input" (click)="cardSwap()" />
</mat-card>
<mat-card class="list-view-mat-card" *ngIf="card">
    <form [formGroup]="createNotesForm">
        <input type="text" placeholder="Title" name="title" formControlName="title">
        <p>
            <textarea name="content" placeholder="Take a note" formControlName="description"></textarea>
        </p>
        <div class="cn-button" fxLayout="row" >
            <button mat-stroked-button class="cn-close" (click)="onSubmit()" (click)="cardSwap()" fxLayoutAlign="end center">
                Close
            </button>
        </div>
    </form>
</mat-card>
