.input {
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 0px solid;
    min-height: 10px;
    outline: none;
  }
  .cn-matcard{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
    height:15px;
    width: 600px;
    display: flex;
    align-items: center; 
    margin-left: 34%;
    margin: 32px auto 50px auto;
    padding-bottom: 15px;
  }
  
form{
    position: relative;
    width: 600px;
    height: 130px;
    margin: 88px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(126, 124, 124);
  }
  mat-card{
      display: inline;
      margin-left: 40%;
      border: none;
  }
  form input{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  form textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  .cn-container{
    width: 90%;
    display:flex;
    justify-content: center;
    padding-top: 15px;
    
  }

  .cn-close{
    //margin: 50px;
    border: 1px transparent;
    background-color: #fff;
    padding-left: 225px;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
  }
  .cn-button {
    //border: 5px solid black;
    height: 30px;
    width: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .cn-three-buttons{
    padding-left: 20px; 
    opacity: 0.6;
    cursor: pointer;
  }