<div class="dashboard-container">
    <div class="d-container" [class.d-mobile]="mobileQuery.matches">
        <mat-toolbar class="toolbar" fxLayout="row" fxLayout.xs="row">
            <div fxLayout.xs="column">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="d-menu">menu</mat-icon>
                </button>
            </div>
            <div class="header-img">
                <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" width="45">
            </div>
            <span class="header-fundoo">Fundoo</span>

            <div class="d-header-search" fxlayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxFlex.xs="95">
                <mat-form-field appearance="outline" [style.width.px]="900">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search">
                </mat-form-field>
            </div>
            <div class="right-header-icon" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="row" fxFlex.xs="95">
                <button mat-icon-button class="d-right-icon">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button class="d-right-icon">
                    <mat-icon>line_weight</mat-icon>
                </button>
                <button mat-icon-button class="d-right-icon">
                    <mat-icon>settings</mat-icon>
                </button>
                <button mat-icon-button class="d-right-icon">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <mat-sidenav-container class="d-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #sidenav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen"
            opened [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
                <mat-nav-list class="navlist">
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">lightbulb_outline</mat-icon>
                            Notes
                        </button>
                    </div>
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">notifications_none</mat-icon>
                            Reminder
                        </button>
                    </div>
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">archive</mat-icon>
                            Archive
                        </button>
                    </div>
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">delete_outline</mat-icon>
                            Trash
                        </button>
                    </div>
                    <div class="sidenav-font">
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">edit</mat-icon>
                            Edit Lable
                        </button>
                    </div>

                </mat-nav-list>

            </mat-sidenav>

            <mat-sidenav-content style="width: 100%;">
                <router-outlet></router-outlet>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</div>