<div class="update-container">
    <form>
        <input type="text" placeholder="Title" name="title" [(ngModel)]="title" fxLayout="row">
        <p>
            <textarea name="content" placeholder="Take a note" [(ngModel)]="description"></textarea>
        </p>
        <div class="border" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="row">
            <app-icons></app-icons>
            <div class="un-button">
                <button mat-stroked-button class="un-close" (click)="onSubmit()">
                    Close
                </button>
            </div>
        </div>
    </form>
</div>
