.resetpass-outer-container{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 75px 0px;
    background-color: #fff; 
}
.resetpass-inner-container{
    height: 70%;
    width: 28%;
    padding:50px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #dadce0;
    margin:  auto;
}
.p-fundoo-h1{
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 30px;
    font-weight: 500;
    .pf1{
        color:rgb(66, 133, 244);
        font-size: 35px;
       }
        .pf2{
            color: red;
        }
        .pf3{
            color: yellow;
        }
        .pf4{
            color: rgb(66, 133, 244);
        }
        .pf5{
            color: rgb(3, 167, 3);
        }
        .pf6{
            color: red;
        }
}

.pEmail{
    padding: 10px;
}
.pPass{
    padding: 10px;
}
.resetpass-h1{
    font-size: 25px;
    padding: 20px 0;
    font-weight: 200;
}
.p-next{
    background-color: rgb(66, 133, 244);
    color:#fff;
    width: 100px;
    height: 45px;
    padding: 5px;
    margin: 10px;
    border: 0px;
    border-radius: 4px;
}

@media screen and (max-width: 480px) {

    .resetpass-inner-container{
        height: 100%;
        width: 100%;
        padding:0px;
        justify-content: center;
        border-radius: 8px;
        border: none;
        margin:  auto;
    }
    .form{
        width: 80%;
        height: 70%;
         padding-left: 20px;
         padding-right: 20px;
    }
}