<div class="resetpass-outer-container">
    <div class="resetpass-inner-container">
        <div class="pfundoo" fxLayoutAlign="center center">
            <h1 class="p-fundoo-h1">
                <span class="pf1">F</span>
                <span class="pf2">U</span>
                <span class="pf3">N</span>
                <span class="pf4">D</span>
                <span class="pf5">O</span>
                <span class="pf6">O</span>
            </h1>
        </div>
        <div class="resetpass-h1" fxLayoutAlign="center center">Reset Password</div>
        <div class="form">
      <form [formGroup]="resetpassForm" (ngSubmit)="onSubmit()">
        <div class="pEmail">
            <mat-form-field appearance="outline" style="width:100%; height: 10%;" >
                <mat-label style="font-size: 18px;">E-mail or Phone no.</mat-label>
                <input matInput type="text" formControlName="email" placeholder="E-mail or Phone no">
                <mat-error>Enter the email</mat-error>
            </mat-form-field>
        </div>
        <div class="pPass">
            <mat-form-field appearance="outline" style="width:100%; height: 10%;" >
                <mat-label style="font-size: 18px;">New Password</mat-label>
                <input matInput type="text" formControlName="password"placeholder="Enter new password">
                <mat-error>Enter new password</mat-error>
            </mat-form-field>
        </div>
        <div class="p-botton"   fxLayout="row" fxLayoutAlign="end center">
            <button class="p-next">Next</button>
          </div>
      </form>
    </div>
    </div>
</div>
